<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.man.dao.ButtonMapper">
  <resultMap id="BaseResultMap" type="com.man.pojo.Button">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="share" jdbcType="VARCHAR" property="share" />
    <result column="collect" jdbcType="VARCHAR" property="collect" />
    <result column="givenum" jdbcType="INTEGER" property="givenum" />
    <result column="comment" jdbcType="INTEGER" property="comment" />
    <result column="columnid" jdbcType="INTEGER" property="columnid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, share, collect, givenum, comment, columnid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_button
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_button
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.man.pojo.Button">
    insert into t_button (id, share, collect, 
      givenum, comment, columnid
      )
    values (#{id,jdbcType=INTEGER}, #{share,jdbcType=VARCHAR}, #{collect,jdbcType=VARCHAR}, 
      #{givenum,jdbcType=INTEGER}, #{comment,jdbcType=INTEGER}, #{columnid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.man.pojo.Button">
    insert into t_button
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="share != null">
        share,
      </if>
      <if test="collect != null">
        collect,
      </if>
      <if test="givenum != null">
        givenum,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="columnid != null">
        columnid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="share != null">
        #{share,jdbcType=VARCHAR},
      </if>
      <if test="collect != null">
        #{collect,jdbcType=VARCHAR},
      </if>
      <if test="givenum != null">
        #{givenum,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=INTEGER},
      </if>
      <if test="columnid != null">
        #{columnid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.man.pojo.Button">
    update t_button
    <set>
      <if test="share != null">
        share = #{share,jdbcType=VARCHAR},
      </if>
      <if test="collect != null">
        collect = #{collect,jdbcType=VARCHAR},
      </if>
      <if test="givenum != null">
        givenum = #{givenum,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=INTEGER},
      </if>
      <if test="columnid != null">
        columnid = #{columnid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.man.pojo.Button">
    update t_button
    set share = #{share,jdbcType=VARCHAR},
      collect = #{collect,jdbcType=VARCHAR},
      givenum = #{givenum,jdbcType=INTEGER},
      comment = #{comment,jdbcType=INTEGER},
      columnid = #{columnid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>