<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.man.dao.MusicMapper">
  <resultMap id="BaseResultMap" type="com.man.pojo.Music">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="songname" jdbcType="VARCHAR" property="songname" />
    <result column="songimg" jdbcType="VARCHAR" property="songimg" />
    <result column="musicurl" jdbcType="VARCHAR" property="musicurl" />
    <result column="songwords" jdbcType="VARCHAR" property="songwords" />
    <result column="styleid" jdbcType="INTEGER" property="styleid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, songname, songimg, musicurl, songwords, styleid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_music
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_music
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.man.pojo.Music">
    insert into t_music (id, songname, songimg, 
      musicurl, songwords, styleid
      )
    values (#{id,jdbcType=INTEGER}, #{songname,jdbcType=VARCHAR}, #{songimg,jdbcType=VARCHAR}, 
      #{musicurl,jdbcType=VARCHAR}, #{songwords,jdbcType=VARCHAR}, #{styleid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.man.pojo.Music">
    insert into t_music
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="songname != null">
        songname,
      </if>
      <if test="songimg != null">
        songimg,
      </if>
      <if test="musicurl != null">
        musicurl,
      </if>
      <if test="songwords != null">
        songwords,
      </if>
      <if test="styleid != null">
        styleid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="songname != null">
        #{songname,jdbcType=VARCHAR},
      </if>
      <if test="songimg != null">
        #{songimg,jdbcType=VARCHAR},
      </if>
      <if test="musicurl != null">
        #{musicurl,jdbcType=VARCHAR},
      </if>
      <if test="songwords != null">
        #{songwords,jdbcType=VARCHAR},
      </if>
      <if test="styleid != null">
        #{styleid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.man.pojo.Music">
    update t_music
    <set>
      <if test="songname != null">
        songname = #{songname,jdbcType=VARCHAR},
      </if>
      <if test="songimg != null">
        songimg = #{songimg,jdbcType=VARCHAR},
      </if>
      <if test="musicurl != null">
        musicurl = #{musicurl,jdbcType=VARCHAR},
      </if>
      <if test="songwords != null">
        songwords = #{songwords,jdbcType=VARCHAR},
      </if>
      <if test="styleid != null">
        styleid = #{styleid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.man.pojo.Music">
    update t_music
    set songname = #{songname,jdbcType=VARCHAR},
      songimg = #{songimg,jdbcType=VARCHAR},
      musicurl = #{musicurl,jdbcType=VARCHAR},
      songwords = #{songwords,jdbcType=VARCHAR},
      styleid = #{styleid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>