<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.man.dao.VideoMapper">
  <resultMap id="BaseResultMap" type="com.man.pojo.Video">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="videourl" jdbcType="VARCHAR" property="videourl" />
    <result column="videoname" jdbcType="VARCHAR" property="videoname" />
    <result column="styleid" jdbcType="INTEGER" property="styleid" />
    <result column="voidimgurl" jdbcType="VARCHAR" property="voidimgurl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, videourl, videoname, styleid, voidimgurl
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_video
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_video
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.man.pojo.Video">
    insert into t_video (id, videourl, videoname, 
      styleid, voidimgurl)
    values (#{id,jdbcType=INTEGER}, #{videourl,jdbcType=VARCHAR}, #{videoname,jdbcType=VARCHAR}, 
      #{styleid,jdbcType=INTEGER}, #{voidimgurl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.man.pojo.Video">
    insert into t_video
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="videourl != null">
        videourl,
      </if>
      <if test="videoname != null">
        videoname,
      </if>
      <if test="styleid != null">
        styleid,
      </if>
      <if test="voidimgurl != null">
        voidimgurl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="videourl != null">
        #{videourl,jdbcType=VARCHAR},
      </if>
      <if test="videoname != null">
        #{videoname,jdbcType=VARCHAR},
      </if>
      <if test="styleid != null">
        #{styleid,jdbcType=INTEGER},
      </if>
      <if test="voidimgurl != null">
        #{voidimgurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.man.pojo.Video">
    update t_video
    <set>
      <if test="videourl != null">
        videourl = #{videourl,jdbcType=VARCHAR},
      </if>
      <if test="videoname != null">
        videoname = #{videoname,jdbcType=VARCHAR},
      </if>
      <if test="styleid != null">
        styleid = #{styleid,jdbcType=INTEGER},
      </if>
      <if test="voidimgurl != null">
        voidimgurl = #{voidimgurl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.man.pojo.Video">
    update t_video
    set videourl = #{videourl,jdbcType=VARCHAR},
      videoname = #{videoname,jdbcType=VARCHAR},
      styleid = #{styleid,jdbcType=INTEGER},
      voidimgurl = #{voidimgurl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>